
.step-conclusion-1 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.conclusion-inicio {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.conclusion-h1 {
  position: absolute;
  font-family: 'Homemade Apple', cursive;
  transform: translateY(-50%);
  top: calc(50% - 100px);
  z-index: 2;
  font-size: 2.3rem;
  color: white;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  align-items: center;
}

.conclusion-p1, .conclusion-p2, .conclusion-p3 {
  font-size: 1.2rem;
  color: white;
  top: calc(50% - 20px);
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  font-family: 'IBM Plex Mono', monospace;
}

.conclusion-p2 {
  top: calc(50% - 20px);
}

.conclusion-p3 {
  top: calc(50% - 20px);
  color: black;
  font-weight: bold;
}

.preguntas-final {
    color: white;
    position: absolute;
    top: calc(50% + 120px);
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    border-radius: 20px;
    border: 1px solid white;
    padding: 5px 20px;
}

#preg1 {
    top: calc(50% + 120px);
}

#preg2 {
    top: calc(50% + 170px);
}

.fuga-img-fin {
  width: 1000px;
  height: auto;
  z-index: 0;
  position: absolute;
  top: calc(50% - 95px);
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.creditos {
    color: white;
    position: absolute;
    top: calc(50% + 280px);
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
      opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.creditos span {
    font-weight: 600;
}

.step-conclusion.active .conclusion-h1,
.step-conclusion.active .conclusion-p2,
.step-conclusion.active .conclusion-p3,
.step-conclusion.active .conclusion-p1,
.step-conclusion.active .fuga-img-fin,
.step-conclusion.active .creditos {
  opacity: 1;
  transform: translateY(-12%);
}