
.step-conclusion-1 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.conclusion-inicio {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.conclusion-h1 {
  position: absolute;
  font-family: 'Homemade Apple', cursive;
  transform: translateY(-50%);
  top: calc(50% - 100px);
  z-index: 2;
  font-size: 2.3rem;
  color: white;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  align-items: center;
}

.conclusion-p1, .conclusion-p2 {
  font-size: 1.2rem;
  color: white;
  top: calc(50% - 20px);
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  font-family: 'IBM Plex Mono', monospace;
  padding: 0 20px;
  max-width: 1000px;
}

.conclusion-p3 {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  font-family: 'IBM Plex Mono', monospace;
  padding: 0 20px;
  max-width: 1000px;
}

.preguntas-final {
    color: white;
    position: absolute;
    top: calc(50% + 120px);
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    border-radius: 20px;
    border: 1px solid white;
    padding: 5px 20px;
}

#preg1 {
    top: calc(50% + 120px);
}

#preg2 {
    top: calc(50% + 170px);
}

.fuga-img-fin {
  width: 1000px;
  height: auto;
  z-index: 0;
  position: absolute;
  top: calc(50% - 95px);
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.creditos {
    color: white;
    position: absolute;
    top: calc(100% - 180px);
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
    padding-top: 50px;

    width: 100vw; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    background-color: #000;
    border-radius: 100%;
}

.creditos span {
    font-weight: 600;
}

.final-credit {
  margin-top: 20px;
  line-height: 57px;
  vertical-align: middle;
}

.final-credit  a {
  display: inline-block;
  line-height: 57px;
  vertical-align: middle;
  margin-left: 12px;
  cursor: pointer;
  z-index: 1000;
  position: relative;
}

.step-conclusion.active .conclusion-h1,
.step-conclusion.active .conclusion-p2,
.step-conclusion.active .conclusion-p3,
.step-conclusion.active .conclusion-p1,
.step-conclusion.active .fuga-img-fin,
.step-conclusion.active .creditos {
  opacity: 1;
  transform: translateY(-12%);
}

@media (max-width: 768px) {
  .conclusion-p1, .conclusion-p2, .conclusion-p3 {
    font-size: 14px;
  }

  .preguntas-final {
    font-size: 12px;
    max-width: 95vw;
  }

  .creditos {
    font-size: 10px;
    top: calc(100% - 100px);
    border-radius: 40%;
  }

  .final-credit {
    margin-top: 10px;
    line-height: 25px;
    vertical-align: middle;
  }

  .final-credit img {
    width: auto;
    height: 25px;
  }

  .step-conclusion-3 .hoja-rasgada {
    top: 160px;
  }
}