.fuga-h1-2-1 {
  font-family: "Homemade Apple", cursive;
  position: absolute;
  transform: translateY(-50%);
  text-align: center;
  align-items: center;
  top: calc(50% - 90px);
  z-index: 2;
  font-size: 2.5rem;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fuga-p-2-1 {
  margin-top: 20px;
  font-size: 1.2rem;
  color: white;
  top: calc(50% + 30px);
  font-size: 1.6rem;
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
}

.step-fuga.active .fuga-h1-2-1,
.step-fuga.active .fuga-p-2-1 {
  opacity: 1;
  transform: translateY(-12%);
}

.step-fuga-2-2 .fuga-h1-2-1,
.step-fuga-2-2 .fuga-p-2-1,
.step-fuga-2-2 .fuga-img {
  transition:  none;
  transform: none;
}

.step-fuga-2-2 .hoja-rasgada::before,
.step-fuga-2-1 .hoja-rasgada::before {
  content: "FUGA 02";
}


@media (max-width: 1000px) {
  .step-fuga-2-1 .fuga-title,
  .step-fuga-2-2 .fuga-title {
    font-size: 1.4rem;
  }

  .step-fuga-2-1 .fuga-h1
  .step-fuga-2-2 .fuga-h1 {
    font-size: 2rem;
  }

  .step-fuga-2-1 .fuga-p,
  .step-fuga-2-2 .fuga-p {
    font-size: 1rem;
  }
}

@media (max-width: 667px) {
  .step-fuga-2-1 .fuga-title,
  .step-fuga-2-2 .fuga-title {
    font-size: 0.9rem;
  }

  .step-fuga-2-1 .fuga-h1,
  .step-fuga-2-2 .fuga-h1 {
    font-size: 1.1rem;
  }

  .step-fuga-2-1 .fuga-p,
  .step-fuga-2-2 .fuga-p {
    font-size: 1rem;
  }
}