.linea-1 {
  width: 0;
  height: 0.5em;
  border-left: 2px solid black;
  margin-left: 10px;
  transform: rotate(45deg);
}

.linea-2 {
  width: 0;
  height: 0.5em;
  border-right: 2px solid black;
  margin-left: -2px;
  transform: rotate(-45deg);
}

.fuga-h1-6-f {
  position: absolute;
  font-family: 'Homemade Apple', cursive;
  top: 50%;
  transform: translateY(-50%);
  top: calc(50% + 20px);
  z-index: 2;
  font-size: 2.1rem;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fuga-p-6-f, .fuga-p-6-ff {
  margin-top: 20px;
  font-size: 1.2rem;
  color: white;
  font-size: 1.6rem;
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
}

.fuga-p-6-f {
  top: calc(50% + 30px);
}

.fuga-p-6-ff {
  top: calc(50% - 230px);
}

.step-fuga-6-f .fuga-img {
  top: calc(50% - 120px);
}

.step-fuga-6-f .fuga-title {
  top: calc(50% - 100px);
}

.step-fuga-6-f .fuga-title-1 {
  top: calc(50% - 35px);
}

.step-fuga.active .fuga-img,
.step-fuga.active .fuga-h1-6-f,
.step-fuga.active .fuga-p-6-f,
.step-fuga.active .fuga-p-6-ff {
  opacity: 1;
  transform: translateY(-12%);
}