.leyendas-2 {
  text-align: center;
  align-items: center;
  gap: 10px;
  color: black;
  font-style: initial;
  font-size: 0.8rem;
  background: #312334FF;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 0px #00000033;
  padding: 12px 12px;
}

.legend-title {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0px;
  width: 100%;
  color: #FFF;
  display: block;
  margin-bottom: 12px;
}

.legend-col {
  padding: 2px 8px;
  border-radius: 10px;
  width: 100px;
  display: inline-block;
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  font-weight: 400;
}

.ly-mujer {
  background-color: #ea98ff;
}

.ly-varon {
  background-color: #7dea87;
}

.ly-sin-info {
  border: 1px solid white;
  color: white;
}

.fuga04 .leyendas-2 {
  width: 250px;
  margin: 0 auto;
}

@media (max-width: 790px) {
    .leyendas-2 {
    gap: 10px;
    padding: 4px 12px;
  }

  .legend-col {
    font-size: 12px;
    padding: 2px 4px;
    width: 80px;
    margin-top: 2px;
  }

  .legend-title {
      margin-bottom: 4px;
  }
}