.fuga-h1-4-1 {
  font-family: "Homemade Apple", cursive;
  position: absolute;
  transform: translateY(-50%);
  text-align: center;
  align-items: center;
  top: calc(50% - 115px);
  z-index: 2;
  font-size: 2.5rem;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fuga-p-4-1 {
  margin-top: 20px;
  font-size: 1.2rem;
  color: white;
  top: calc(50% + 30px);
  font-size: 1.6rem;
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
}

.step-fuga.active .fuga-h1-4-1,
.step-fuga.active .fuga-p-4-1 {
  opacity: 1;
  transform: translateY(-12%);
}

.step-fuga-4-1 .hoja-rasgada::before {
  content: "FUGA 04";
}

.step-fuga-4-1 .fuga-h1 {
  margin-top: 20px;
}


@media (max-width: 768px) {

    .step-fuga-4 .fuga-title5-1 {
        font-size: 14px;
        padding: 6px 40px;
    }

    .step-fuga-4.active .fuga-h1-1-5 {
        font-size: 21px;
        transform: translateY(-25%);
    }
}