.step-fuga-1-2 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fuga1-2-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fuga1-2-texto {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 60px;
  opacity: 1;
  /* transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease; */
}

.fuga1-2-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 1;
  /* transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease; */
}

.fila {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.fuga-1-2-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  opacity: 1;
  /* transform: translateY(10px); */
}

.fuga-1-2-pink {
  background-color: #ea98ff;
}

.fuga-1-2-gray {
  background-color: #b0b0b0;
}

.step-fuga-1-2.active .fuga1-2-texto {
  opacity: 1;
  /* transform: translateY(0);
  transition-delay: 0.3s; */
}

.step-fuga-1-2.active .fuga1-2-grid {
  opacity: 1;
  /* transform: translateY(0);
  transition-delay: 0.6s; */
}

.step-fuga-1-2.active .fuga-1-2-circle {
  /* animation: fadeUp 0.5s forwards; */
}

.step-fuga-1-1 .hoja-rasgada::before {
  content: "FUGA 01";
}

/* .step-fuga-1-2.active .fuga-1-2-circle:nth-child(1) { animation-delay: 0.1s; }
.step-fuga-1-2.active .fuga-1-2-circle:nth-child(2) { animation-delay: 0.15s; }
.step-fuga-1-2.active .fuga-1-2-circle:nth-child(3) { animation-delay: 0.2s; }
.step-fuga-1-2.active .fuga-1-2-circle:nth-child(4) { animation-delay: 0.25s; }
.step-fuga-1-2.active .fuga-1-2-circle:nth-child(5) { animation-delay: 0.3s; }
.step-fuga-1-2.active .fuga-1-2-circle:nth-child(6) { animation-delay: 0.35s; }
.step-fuga-1-2.active .fuga-1-2-circle:nth-child(7) { animation-delay: 0.4s; }
.step-fuga-1-2.active .fuga-1-2-circle:nth-child(8) { animation-delay: 0.45s; }
.step-fuga-1-2.active .fuga-1-2-circle:nth-child(9) { animation-delay: 0.5s; }
.step-fuga-1-2.active .fuga-1-2-circle:nth-child(10) { animation-delay: 0.55s; }
.step-fuga-1-2.active .fuga-1-2-circle:nth-child(11) { animation-delay: 0.6s; }
.step-fuga-1-2.active .fuga-1-2-circle:nth-child(12) { animation-delay: 0.65s; } */
