.step-fuga-1-3 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fuga1-3-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fuga1-3-texto {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 60px;
  opacity: 0;
  /* transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease; */
}

.fuga1-3-grid {
  display: flex;
  flex-direction: column;
    align-items: center;
  gap: 16px;
  opacity: 1;
  /* transform: translateY(0); */
}

.fila {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  justify-items: center;
}

.fuga-1-3-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  /* transition: transform 0.8s ease, opacity 0.8s ease; */
}

.fuga-1-3-pink {
  background-color: #ea98ff;
}

.fuga-1-3-gray {
  background-color: #b0b0b0;
  /* transform: translateY(0); */
  opacity: 1;
}

.step-fuga-1-3.active .fuga1-3-texto {
  opacity: 1;
  /* transform: translateY(0); */
  /* transition-delay: 0.3s; */
}

.step-fuga-1-3.active .fuga-1-3-gray {
  transform: translateY(12px);
  /* transition-delay: 0.5s; */
}
