.fuga-title5-1 {
  font-size: 26px;
  background-color: #ea98ff;
  box-shadow: 1px 1px 10px black;
  font-family: 'IBM Plex Mono', monospace;
  padding: 6px 40px;
  z-index: 1;
  color: #000;
  margin-bottom: 40px;
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
}

.fuga05 ul {
    align-items: center;
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.fuga05 li {
    margin-top: 10px;
    margin-bottom: 20px;
}

.fuga05-01-p {
    margin-top: 20px;
    display: inline-block;
    text-align: left;
}

.fuga05-01-p p {
    background-color: white;
    color: black;
    rotate: -3deg;
    padding: 15px;
}

.fuga05 .viz-text {
    align-content: center;
}

.beeswarm-title-hcd,
.beeswarm-title-hs {
    font-family: "IBM Plex Mono";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0px;
    border-radius: 10px;
    padding: 0 10px;
}

.beeswarm-title-hcd {
    color: #ffffff;
    background-color: #8a40ff;
}

.beeswarm-title-hs {
    color: #261729;
    background-color: #7dea87;
}

.p-legend {
    color: #ffffff;
    font-family: "IBM Plex Mono";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 0 10px;
}

.fuga05 .legend {
    background-color: #312334;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
}

.fuga05 .legend > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.fuga05-legend-title {
    color: #ffffff;
    font-family: "IBM Plex Mono";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    font-style: italic;
}

.fuga05-legend-circulo,
.fuga05-legend-tamano {
    color: #ffffff;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
}

.fuga05-legend-circulo {
    width: 155px;
}

.fuga05-legend-tamano {
    width: 180px;
}

.divider {
    border-left: 1px solid #F5e9e9;
    height: 60px;
    width: 10px;
}

.circulo-con-texto {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ea98ff;
    transform: translateY(-10px);
}

.circulo-con-texto::after {
    content: "Tucumán";
    position: relative;
    top: 100%;
    margin-left: -14px;
    margin-top: -2px;
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 400;
    color: #ea98ff;
}

.circulo-grande {
    width: 51px;
    height: 51px;
    border-radius: 25.5px;
    background-color: #ea98ff;
}

.circulo-pequeno {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: #ea98ff;
}

.step-fuga-5-0 .hoja-rasgada::before {
  content: "FUGA 05";
}

@media (max-width: 1040px) {
    .fuga05 .legend {
        border-radius: 20px;
        padding: 10px 20px;
        display: inline-block;
    }

    .fuga05 .legend > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
    }

    .fuga05-legend-title {
        font-size: 14px;
    }

    .fuga05-legend-circulo,
    .fuga05-legend-tamano {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    .fuga05-legend-circulo {
        width: 100px;
    }

    .fuga05-legend-tamano {
        width: 120px;
    }

    .divider {
        height: 60px;
        width: 10px;
    }

    .circulo-con-texto {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        transform: translateY(-10px);
    }

    .circulo-con-texto::after {
        margin-left: -11px;
        margin-top: -2px;
        font-size:  10px;
    }

    .circulo-grande {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    .circulo-pequeno {
        width: 10px;
        height: 10px;
        border-radius: 5px;
    }
}


@media (max-width: 768px) {
    .fuga-title5-1 {
        font-size: 14px;
        padding: 6px 20px;
        margin-bottom: 40px;
    }

    .beeswarm-title-hcd,
    .beeswarm-title-hs {
        line-height: 16px;
        font-size: 14px;
        padding: 3px 10px;
    }

    .p-legend {
        font-size: 12px;
        padding: 0;
        line-height: 16px;
    }

    .fuga05 .legend {
        border-radius: 20px;
        padding: 4px 6px;
        display: inline-block;
    }

    .fuga05 .legend > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0 4px;
    }

    .fuga05-legend-title {
        font-size: 14px;
    }

    .fuga05-legend-circulo,
    .fuga05-legend-tamano {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    .fuga05-legend-circulo {
        width: 100px;
    }

    .fuga05-legend-tamano {
        width: 120px;
    }

    .divider {
        height: 60px;
        width: 10px;
    }

    .circulo-con-texto {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        transform: translateY(-10px);
    }

    .circulo-con-texto::after {
        margin-left: -11px;
        margin-top: -2px;
        font-size:  10px;
    }

    .circulo-grande {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    .circulo-pequeno {
        width: 10px;
        height: 10px;
        border-radius: 5px;
    }

    .fuga05 .legend .divider {
        height: 50px;
        width: 1px;
        margin-left: 8px;
    }
}

@media (max-width: 628px) {

    .fuga05-legend-circulo,
    .fuga05-legend-tamano {
        font-size: 10px;
        line-height: 14px;
    }

    .fuga05-legend-circulo {
        width: 80px;
    }

    .fuga05-legend-tamano {
        width: 100px;
    }

    .fuga05 .legend .fuga05-legend-title {
        display: block;
    }

}