@import url("fuga1-2.css");
@import url("fuga1-3.css");
@import url("fuga1-4.css");
@import url("fuga1-5.css");

@import url("fuga2-1.css");
@import url("fuga3-1.css");
@import url("fuga4-1.css");
@import url("fuga5-1.css");
@import url("fuga-plots.css");

/* .step-fuga {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */

.banner {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "IBM Plex Mono", monospace;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 40px;
  background-color: #f6d4ff; /*inventado*/
  padding: 2px 25px;
  border-radius: 50px;
  color: black;
}

.linea-1 {
  width: 0;
  height: 0.5em;
  border-left: 2px solid black;
  margin-left: 10px;
  transform: rotate(45deg);
}

.linea-2 {
  width: 0;
  height: 0.5em;
  border-right: 2px solid black;
  margin-left: -2px;
  transform: rotate(-45deg);
}



.fuga-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fuga-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'IBM Plex Mono', monospace;
  z-index: 1;
  display: block;
}

.fuga-title-1 {
  font-size: 1.7rem;
  position: absolute;
  font-family: "IBM Plex Mono", monospace;
  top: calc(50% - 135px);
  padding: 2px 40px;
  z-index: 1;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fuga-img {
  width: 1400px;
  height: auto;
  z-index: 0;
  position: absolute;
  top: calc(50% - 220px);
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fuga-h1 {
  /* position: absolute; */
  font-family: 'Homemade Apple', cursive;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  /* top: calc(50% - 110px); */
  z-index: 2;
  font-size: 3rem;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  display: block;
}

/* .fuga-h1-1-5 {
  position: absolute;
  font-family: 'Homemade Apple', cursive;
  top: 50%;
  transform: translateY(-50%);
  top: calc(50% - 80px);
  z-index: 2;
  font-size: 2.8rem;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
} */

.fuga-p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: white;
  top: calc(50% + 80px);
  font-size: 1.6rem;
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  max-width: 900px;
}

.step-fuga.active .fuga-img,
.step-fuga.active .fuga-h1,
.step-fuga.active .fuga-p {
  opacity: 1;
  transform: translateY(-12%);
}

.fuga-inicio {
  display: flex;
  height: 100vh;
  justify-content: center;
}

@media (max-width: 740px) {
  .fuga-title {
    font-size: 1.2rem;
  }
  .fuga-h1 {
    font-size: 1.8rem;
  }

  .fuga-p {
    font-size: 1rem;
    max-width: 90vw;;
  }
}