.fuga-title5-1 {
  font-size: 26px;
  background-color: #ea98ff;
  box-shadow: 1px 1px 10px black;
  font-family: 'IBM Plex Mono', monospace;
  padding: 6px 40px;
  z-index: 1;
  color: #000;
  margin-left: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  display: inline-block;
}

.fuga05 ul {
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.fuga05 li {
    margin-top: 10px;
    margin-bottom: 20px;
}

.fuga05-01-p {
    margin-top: 20px;
    display: inline-block;
}

.fuga05-01-p p {
    background-color: white;
    color: black;
    rotate: -3deg;
    padding: 15px;
}

.fuga05 .viz-text {
    align-content: center;
}
