.leyendas-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: black;
  font-style: initial;
  font-size: 0.8rem;
}

#ly-mujer {
  background-color: #ea98ff;
  padding: 0 5%;
  border-radius: 10px;
}

#ly-varon {
  background-color: #7dea87;
  padding: 0 5%;
  border-radius: 10px;
}

#ly-sin-info {
  padding: 0 5%;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
}
