.fuga-title-1-5 {
  font-size: 2rem;
  position: absolute;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  top: calc(50% - 200px);
  padding: 2px 40px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  text-align: center;
}

.fuga-h1-1-5 {
  position: absolute;
  font-family: "Homemade Apple", cursive;
  top: 50%;
  color: white;
  transform: translateY(-50%);
  top: calc(50% - 80px);
  z-index: 2;
  font-size: 4rem;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  padding: 0 20px;
  text-align: center;
}

.fuga04 .fuga-h1-1-5 {
  max-width: 70%;
  text-align: center;
}

.fuga-p-1-5 {
  margin-top: 20px;
  font-size: 1.2rem;
  color: white;
  top: calc(50% + 30px);
  font-size: 1.6rem;
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  max-width: 900px;
}

.fuga04 .fuga-p-1-5 {
  top: calc(50% + 60px);
}

.step-fuga.active .fuga-title-1-5,
.step-fuga.active .fuga-h1-1-5,
.step-fuga.active .fuga-p-1-5 {
  opacity: 1;
  transform: translateY(-12%);
}

@media (max-width: 1177px) {
  .fuga-h1-1-5 {
    font-size: 3rem;
  }
}

@media (max-width: 790px) {
  .fuga-title-1-5 {
    font-size: 1.4rem;
  }

  .fuga-h1-1-5 {
    font-size: 1.6rem;
  }

  .fuga-p-1-5 {
    font-size: 1rem;
    max-width: 90vw;;
  }
}
