.step1-elements {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.8s ease;
  z-index: 2;
  opacity: 1;
}

.datagenero-logo,
.papel-inicial,
.subt,
.dyd,
.dyd-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.8s;
  text-wrap: nowrap;
}

.datagenero-logo {
  top: calc(50% - 120px);
  transform: translate(-50%, -50%);
  background: #ea98ff;
  padding: 20px 23px;
  rotate: -0.2deg;
  width: 60%;
}

.img-fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

.data-logo img,
.papel-inicial img {
  display: block;
  height: auto;
}

.data-logo img {
  max-width: 300px;
}

.papel-inicial {
  top: calc(50% - 150px);
  z-index: 3;
  padding: 23px;
}

.papel-inicial img {
  max-width: 500px;
}

.papel-inicial p {
  position: absolute;
  top: calc(50% + 10px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Atkinson Hyperlegible Mono", monospace;
  font-size: 3rem;
  rotate: 5.5deg;
  font-weight: 600;
  color: black;
  text-align: center;
  text-decoration: underline dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.subt {
  top: calc(50% + 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-delay: 1.2s;
}

.subt p {
  font-family: "B612 Mono", monospace;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  text-align: center;
}

#subt-1,
#subt-2 {
  width: auto;
  padding: 6px 15px;
  background: black;
}

.dyd {
  top: calc(50% + 160px);
  animation-delay: 1.2s;
}

.dyd p {
  background: #ea98ff;
  padding: 5px 65px;
  border-radius: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 1.2rem;
}

.dyd-img {
  top: calc(50% + 150px);
  left: calc(50% + 150px);
  animation-delay: 1.2s;
}

.dyd-img img {
  width: 120px;
  animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}