.step3-elements {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 90%;
  padding: 0 20px;
}

.step3-textos {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.step3-textos h1,
.step3-textos p {
  color: white;
  margin: 10px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.step3-textos h1 {
  font-family: "Homemade Apple", cursive;
  font-size: 2.7rem;
  line-height: 3rem;
}

.step3-textos p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
  width: 60%;
}

.step3-img,
.step3-img-top2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.step3-img-top { 
  position: relative;
  z-index: 2;
  width: 800px;
  height: auto;
  display: block;
}

.step3-img-top2 {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 3;
  width: 800px;
  height: auto;
  display: block;
  transition: opacity 1.8s ease;
}

.step3-img-bottom {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 100px);
  z-index: 1;
  width: 500px;
  height: auto;
  display: block;
}

.step3-elements.active .step3-textos h1,
.step3-elements.active .step3-textos p,
.step3-elements.active .step3-img,
.step3-elements.active .step3-img-top2 {
  opacity: 1;
  /* transform: translateY(0); */
}

.step3-elements.active .step3-textos h1 { transition-delay: 0.2s; }
.step3-elements.active .step3-textos p  { transition-delay: 0.4s; }
.step3-elements.active .step3-img      { transition-delay: 0.6s; }
.step3-elements.active .step3-img-top2 { transition-delay: 0.8s; }

@media (max-width: 970px) {
  .step3-img > * {
    transform: scale(0.8);
  }

  .step3-img-top2 {
    top: 0;
  }

  .step3-img-bottom {
    top: calc(50% - 280px);
    left: calc(50% - 130px);
  }
}

@media (max-width: 870px) {
  /* .step3-img > * {
    transform: scale(0.6);
  } */

  .step3-img-bottom {
    top: calc(50% - 230px);
    left: calc(50% - 100px);
  }
}

@media (max-width: 746px) {

  .step3-img > * {
    transform: scale(0.6);
  }

  .step3-elements {
    flex-flow: column;
    flex-direction: column-reverse;
    gap: 4px;
  }

  /* .step3-img-top2 {
    top: calc(50% - 110px);
  } */

  .step3-textos {
    max-width: 90vw;
    flex: 0 0 auto;
  }
  .step3-img {
    flex: 0 0 auto;
    min-height: none;
    max-height: 50vh;
  }

  .step3-textos p {
    width: 100%;
  }

  /* .step2-img > * {
    transform: scale(0.6) rotate(-35deg);
  }

  .step2-elements {
    flex-flow: column;
    flex-direction: column-reverse;
    gap: 4px;
  }

  .step2-textos {
    max-width: 90vw;
    flex: 0 0 auto;
  }
  .step2-img {
    flex: 0 0 auto;
  }

  .step2-elements h1 { font-size: 1.5rem;}
  .step2-elements p { font-size: 1rem; }
  .step2-elements h2 { font-size: 1.2rem; text-align: center; margin: 0 auto;} */

 
}
