.step10-elements {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step10-img-bottom,
.step10-img-top {
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}


.step10-img-top {
  margin-top: 100px;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 900px;
  height: auto;
  z-index: 3;
}

.step10-textos {
  z-index: 4;
  text-align: center;
  width: 100%;
  display: block;
  position: absolute;
}

.hoja-rasgada {
  z-index: 4;
  background-image: url("../img/HOJA RASGADA CHICA.png");
  background-size: 1500px 400px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: top;
  width: 100%;
  height: 400px;
  min-height: 200px;
  position: relative;
  transform: translateY(0);
}

.hoja-rasgada-texto {
  padding: 0 10%;
  position: relative;
  top: 130px;
}

.step10-textos span {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5rem;
  height: 400px;
  opacity: 0;
  z-index: 5;
  transition: opacity 0.8s ease, transform 0.8s ease;
  max-width: 50%;
  text-align: center;
  vertical-align: middle;
 
}

.step10-elements.active .step10-img-bottom { opacity: 1; transform: translateY(-2%); transition-delay: 0.4s; }
.step10-elements.active .step10-img-top { opacity: 1; transform: translateY(-2%); transition-delay: 0.6s; }
.step10-elements.active .step10-textos span { opacity: 1; transform: translateY(0); transition-delay: 0.8s; }
.step10-elements.active .step10-textos p { opacity: 1; transform: translateY(0); transition-delay: 1s; }

@media (max-width: 780px) {
  .step10-textos span {
    font-size: 1rem;
  }
}