.step10-elements {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step10-img-bottom,
.step10-img-top {
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}


.step10-img-top {
  margin-top: 100px;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 900px;
  height: auto;
  z-index: 3;
}

.step10-textos {
  z-index: 4;
  text-align: center;
  width: 100%;
  display: block;
  position: absolute;
}

.hoja-rasgada {
  z-index: 4;
  background-image: url("../img/HOJA RASGADA CHICA.png");
  background-size: 1500px 400px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: top;
  width: 100%;
  height: 400px;
  min-height: 200px;
  position: absolute;
  /* transform: translateY(0); */
  top: calc(50% - 240px)
}

/* .step-fuga .hoja-rasgada {
  transform: translateY(calc(50% - 100px));
} */

.step-fuga .hoja-rasgada::before {
  content: "FUGA";
  text-transform: uppercase;
  background-color: pink;
  position: relative;
  top: calc(50% - 120px);
  left: calc(50% - 64px);
  font-size: 1.4rem;
  padding: 4px 12px;
  transform: rotate(5deg);
  display: inline-block;
  background-color: #ea98ff;
  box-shadow: 1px 1px 10px black;
  font-family: 'IBM Plex Mono', monospace;
}

.hoja-rasgada-texto {
  position: relative;
  top: 150px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  transform: translateY(-50%);
}

/* .step-fuga .hoja-rasgada-texto {
  top: 150px;
  transform: translateY(-50%);
} */

.step10-textos .step10-p {
  position: relative;
  font-family: "IBM Plex Mono", monospace;
  color: #000;
  font-size: 1.5rem;
  opacity: 0;
  z-index: 5;
  transition: opacity 0.8s ease, transform 0.8s ease;
  text-align: center;
  vertical-align: middle;
  max-width: 900px;
  margin: 0 auto;
  top: 10px;
 
}

.step10-elements.active .step10-img-bottom { opacity: 1; transform: translateY(-2%); transition-delay: 0.4s; }
.step10-elements.active .step10-img-top { opacity: 1; transform: translateY(-2%); transition-delay: 0.6s; }
.step10-elements.active .step10-textos .step10-p { opacity: 1; transform: translateY(0); transition-delay: 0.8s; }
.step10-elements.active .step10-textos p { opacity: 1; transform: translateY(0); transition-delay: 1s; }

.step10-elements .hoja-rasgada {
  transform: translateY(calc(50% - 400px));
}

@media (max-width: 790px) {
  .step10-textos .step10-p {
    font-size: 1rem;
  }
}