.step8-elements {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step8-media {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step8-circulo,
.step8-img-bottom,
.step8-img-top {
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.step8-circulo {
  left: calc(50% - 400px);
  top: calc(50% - 120px);
  transform: translateY(-50%);
  width: 450px;
  height: 450px;
  background-color: #ea98ff;
  border-radius: 50%;
  z-index: 2;
}
.step8-img-bottom {
  left: calc(50% - 150px);
  top: calc(50% - 300px);
  transform: translateY(-50%);
  width: 800px;
  height: auto;
  z-index: 1;
  filter: drop-shadow(1px 0px 5px #ffd495);
}
.step8-img-top {
  left: calc(50% - 520px);
  top: calc(50% - 280px);
  transform: translate(-50%, -50%);
  width: 640px;
  height: auto;
  z-index: 3;
}

.step8-textos {
  position: absolute;
  left: calc(50% + 280px);
  top: calc(50% - 100px);
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
}
.step8-textos h1,
.step8-textos p {
  color: black;
  font-family: "IBM Plex Mono", monospace;
  margin: 10px 0;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.step8-textos h1 {
  font-family: "Cedarville Cursive", cursive;
  font-size: 8rem;
  rotate: -10deg;
  margin-bottom: 0;
}
.step8-textos p {
  font-family: "Homemade Apple", cursive;
  font-size: 1.8rem;
  margin-top: 0;
  padding-top: 0;
}

.step8-elements.active .step8-circulo { opacity: 1; transform: translateY(-50%); transition-delay: 0.2s; }
.step8-elements.active .step8-img-bottom { opacity: 1; transform: translateY(-2%); transition-delay: 0.4s; }
.step8-elements.active .step8-img-top { opacity: 1; transform: translateY(-2%); transition-delay: 0.6s; }
.step8-elements.active .step8-textos h1 { opacity: 1; transform: translateY(0); transition-delay: 0.8s; }
.step8-elements.active .step8-textos p { opacity: 1; transform: translateY(0); transition-delay: 1s; }
