.title-container {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

.viz-title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  line-height: 1.5;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 60px;
  padding: 4px 48px;
}

.fuga06 .viz-title {
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
}

.title-container4 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

.viz-title4 {
  font-family: "Homemade Apple", cursive;
  font-style: italic;
  font-size: 30px;
  line-height: 1.5;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.subtitle-container {
  text-align: center;
  margin-bottom: 62px;
}

.viz-subtitle {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0;
  color: #261729;
  background-color: #fff;
  padding: 4px 24px;
}

svg .tick text,
svg .annotation {
  font-family: "IBM Plex Mono", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

svg .nombre-lista {
  font-size: 18px;
}

svg .tick line {
  stroke: #fff;
  stroke-width: 1.5;
}

#distrito-secciones svg .tick line {
  stroke: #2C1D30;
  stroke-width: 0.2;
}

#distrito-secciones svg .tick text,
#distrito-secciones svg .annotation {
  color: #2C1D30;
}

.fuga05 svg .tick line {
  stroke: #E3D2FF;
  stroke-width: 0.2;
}

.fuga05 svg .tick text,
.fuga05 svg .annotation {
  color: #E3D2FF;
  fill: #E3D2FF;
}

.fuga05 .nacional-label,
.fuga05 .provincial-label {
  font-family: "IBM Plex Mono", sans-serif;
  color: #04081A;
  font-size: 14px;
}

.viz-legend {
  text-align: center;
  margin-bottom: 12px;
}

.tape {
  max-width: 150px;
  margin-bottom: -15px;
  margin-left: 40px;
  position: relative;
}


.tape p {
  background-color: #ea98ff;
  font-family: "Homemade Apple", cursive;
  padding: 5px 35px;
  text-align: center;
}

.viz04-08 {
    position: absolute;
  top: calc(50% - 220px);
  align-items: center;
}

.legend-item {
  font-family: "IBM Plex Mono", sans-serif;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
}

.legend-item:not(:last-child) {
  margin-right: 60px;
}

.double-item > .legend-item {
  max-width: 230px;
}

.legend-encabezadas,
.legend-competitivas {
  display: inline-block;
  position: relative;
  right: 0;
  top: 6px;
  content: "";
  width: 35px;
  height: 26px;
  border-radius: 20px;
  margin-right: 12px;
}

.legend-encabezadas {
  background-color: #a969c4;
}

.legend-competitivas {
  background-color: #e492ff;
}

.double-item > .legend-competitivas,
.double-item > .legend-encabezadas {
  line-height: 48px;
  vertical-align: top;
}

.viz-text {
  font-family: "IBM Plex Mono", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  align-content: flex-end;
  line-height: 1.2;
  letter-spacing: 0px;
}

.viz-text ul {
  list-style-type: disc;
  list-style-type: circle;
  color: #a969c4;
  font-size: 1.5rem;
  margin-top: 10px;
}

.viz-text ul span {
  color: white;
  font-size: 1rem;
}

.viz-text p {
  margin-top: 10px;
}

.viz-explain {
  text-align: left;
  margin: 0 auto;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 40px;
  padding: 0 40px;
}

.viz-explain .d-u {
  background-color: #ea98ff;
  color: black;
  border-radius: 5px;
}

.viz-explain .s-e {
  background-color: #8a40ff;
  border-radius: 5px;
}

.viz-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  height: 90vh;
  padding: 5vh 5vw;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.fuga05 .viz-grid {
   grid-template-rows: repeat(7, minmax(0, 1fr));
}

.viz-tag {
  font-family: "Homemade Apple", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0px;
  background-color: #c271d6;
  border-radius: 20px;
  margin-bottom: 18px;
  padding: 8px 40px;
  display: inline-block;
}

.viz-tag4,
.camara-diputados,
.senadores {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0px;
  border-radius: 20px;
  border: 1px solid white;
  margin: 0 auto 18px auto;
  padding: 8px 40px;
  display: inline-block;
}

.camara-diputados {
  background-color: #c271d6;
  border: none;
  color: black;
}

.senadores {
  background-color: #7dea87;
  border: none;
  color: black;
}

.camara-diputados,
.senadores {
  display: table;
}

#distrito-secciones .viz-grid {
  grid-auto-flow: row;
}

@media (max-width: 1200px) {
  svg .tick text,
  svg .annotation,
  svg .nombre-lista {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  svg .tick text,
  svg .annotation,
  svg .nombre-lista {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  svg .tick text,
  svg .annotation,
  svg .nombre-lista {
    font-size: 8px;
  }
}

@media (max-width: 790px) {
  .viz-title {
    font-size: 16px;
    padding: 4px 6px;
  }

  .viz-subtitle {
    font-size: 16px;
    padding: 4px 6px;
  }
   
  .viz-text {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .viz-text {
    font-size: 12px;
  }
}